#loader-bg{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 9999;
}

.parent{
  margin: auto;
}

body{
  background: #960202;
}

.animation{
    position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
    -webkit-animation: lodanimetion 1000ms ease-out forwards infinite;
  animation: lodanimetion 1000ms ease-out forwards infinite;
}

@keyframes lodanimetion {
  from,to {
        opacity: 0;
  }
  50% {
        opacity: .8;
  }
}

/* ここから下ブログボタンのCSS　*/
.btn-blog {
  position: relative;
  top: 100px;
  left: 100px;
  display: none;
  max-width: 180px;
  text-align: left;
  border: 3px solid #fff;
  font-size: 25px;
  background-color: #000;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 16px 40px;
  transition: .4s;
  transform: rotateX(10deg) rotateY(40deg);
}

.animationBlog{
  display: inline-block;
  animation: fadeinblog 0.5s;
}

.btn-blog:hover {
  background-color: #fff;
  border-color: #ffffff;
  color: #000;
  box-shadow: 10px 7px 5px #282828;
  transform: rotateX(10deg) rotateY(40deg) scale(1.2);
}

.btn-blog:hover + .fukidashi-blog{
  display: block;
  animation: show 0.2s;
}

.fukidashi-blog {
  display: none;
  position: absolute;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 2px solid #000;
  border-radius: 0px;
  border-color: #fff;
  background: #000000;
  color: #fff;
  top: 4px;
  left: 50px;
  transform: rotateX(10deg) rotateZ(10deg) skewX(15deg);
  box-shadow: 8px 8px 2px #282828;
}

.fukidashi-blog:after {
  position: absolute;
  bottom: -35%;
  left: 80%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-radius: 2px
  border: 2px solid #000;
  border-top: 15px solid #fff;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

@keyframes fadeinblog{
    from{
        opacity: 0;
        transform: translate3d(-100px,-30px,0) rotateX(10deg) rotateY(40deg);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0) rotateX(10deg) rotateY(40deg);
    }
}


/* ここから下GithubボタンのCSS　*/
.btn-github {
  position: relative;
  top: 120px;
  left: 140px;
  display: none;
  max-width: 180px;
  text-align: left;
  border: 3px solid #fff;
  font-size: 25px;
  background-color: #000;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 16px 40px;
  transition: .4s;
  transform: perspective(800px)
			scale(.9)
			translateX(-16.66%)
			rotateY(25deg);
}

.animationGithub{
  display: inline-block;
  animation: fadeingithub 0.5s;
}

.btn-github:hover {
  background-color: #fff;
  border-color: #ffffff;
  color: #000;
  box-shadow: 10px 7px 5px #282828;
  transform: perspective(800px)
			scale(1.1)
			translateX(-16.66%)
			rotateY(25deg);
}

.btn-github:hover + .fukidashi-github{
  display: block;
  animation: show 0.2s;
}

.fukidashi-github {
  display: none;
  position: absolute;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 2px solid #000;
  border-radius: 0px;
  border-color: #fff;
  background: #000000;
  color: #fff;
  top: 100px;
  left: 50px;
  transform: rotateX(10deg) skewX(15deg);
  box-shadow: 8px 4px 2px #282828;
}

.fukidashi-github:after {
  position: absolute;
  bottom: -35%;
  left: 80%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-radius: 2px
  border: 2px solid #000;
  border-top: 15px solid #fff;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

@keyframes fadeingithub{
    from{
        opacity: 0;
        transform: translate3d(-100px,0,0) perspective(800px)
      			scale(.9)
      			translateX(-16.66%)
      			rotateY(25deg);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0) perspective(800px)
      			scale(.9)
      			translateX(-16.66%)
      			rotateY(25deg);
    }
}

@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
