body{
  display: relative;
  top: 0%;
  left: 0%;
  width: 100vw;
  margin: auto;
  background: #960202;
  /* フッタの高さと等しいネガティブマージン */
  /* また最後の子要素の潜在的なマージンとしても機能 */
  margin-bottom: -50px;
}


.body-flat{
  background: #dfd65e;
}

.body-cool{
  background: #960202;
}

.body-color-flat{
  animation-fill-mode: forwards;
  animation-name: body-color-flats;
  animation-duration: 0.7s;
}

.body-color-cool{
  animation-fill-mode: forwards;
  animation-name: body-color-cools;
  animation-duration: 0.7s;
}

@keyframes body-color-flats{
  from {
    background: #960202;
  }
  to {
    background: #dfd65e;
  }
}

@keyframes body-color-cools{
  from {
    background: #dfd65e;
  }
  to {
    background: #960202;
  }
}

#main-contents{
  opacity: 0;
  font-weight: bold;
}

.main-load{
  animation-fill-mode: forwards;
  animation-name: main-animation;
  animation-duration: 0.7s;
}

.main-unload{
  animation-fill-mode: forwards;
  animation-name: main-goodbye;
  animation-duration: 0.7s;
}

@keyframes main-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes main-goodbye {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.comingsoon{
  font-size: 40px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000000;
}
